/* ContactsPage.css */

.background-contact {
    background-color: #0b85fe;
    background-image: url('../images/ContactPageBackground.png');
    background-size: cover;
    background-position: center;
}

.contact-header {
    background-size: auto;
    background-color: rgba(0, 0, 0, 0.1);
  }