/* ExperiencePage.css */

.background-experience {
  height: 100vh;
  background-color: #a5c5e6;
  background-image: url('../images/ExperiencePageBackground.png');
  background-size: cover;
  background-position: center;
}

.experience-header {
  background-size: auto;
  background-color: rgba(0, 0, 0, 0.1);

}
  